* {
    margin: 0;
    padding: 0;
    border-radius: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 80%;
    width: 80%;
    /* float: right; */
    opacity: 30%;
    position: relative;
    margin-left: 70%;
}

.jumbotron {
    border-radius: 0;
    background: linear-gradient(to bottom right, #3d63e2, #3642c9);
    color: white;
        
}
